@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for dark mode toggle button */
.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 50; /* Ensure the toggle button is above other elements */
}

.dark-mode-toggle i {
  font-size: 24px;
  color: #333;
  display: block; /* Ensures the icon takes up full space of the circle */
  width: 24px; /* Set the width and height to match font size */
  height: 24px;
  line-height: 24px; /* Aligns icon vertically within circle */
  text-align: center; /* Centers the icon horizontally */
  border-radius: 50%; /* Makes the icon circular */
}

.dark {
  background-color: #333; /* Dark background color */
  color: #ccc; /* Light text color */
}

/* Custom styling for the mobile menu */

.mobile-menu {
  display: none; /* Initially hidden */
  position: absolute;
  top: 4rem; /* Adjust this value to position the menu correctly below the nav */
  right: 0;
  width: 40%;
  z-index: 50;
  text-align: center;
}

@media (max-width: 1024px) {
  .mobile-menu {
    flex-direction: column;
  }

  .mobile-menu ul {
    list-style-type: none;
    padding: 0;
  }

  .mobile-menu li {
    border-bottom: 1px solid #1a202c;
  }

  .mobile-menu a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
  }

  .mobile-menu a:hover {
    background-color: #4a5568;
  }
}

@media (min-width: 1024px) {
  .nav-links {
    display: flex;
  }

  #mobile-menu-button {
    display: none;
  }
}
